<div class="container" style="margin-bottom: 10px;">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="<%= path === '/admin/dashboard' ? 'active' : '' %> nav-link" href="/admin/dashboard">Shop</a>
        </li>
        <li class="nav-item">
            <a class="<%= path === '/admin/add' ? 'active' : '' %> nav-link" href="/admin/add">Add
                Products
            </a>
        </li>
        <li class="nav-item">
            <a class="<%= path === '/admin/edit_delete' ? 'active' : '' %> nav-link" href="/admin/edit_delete">Modify
                Products
            </a>
        </li>
    </ul>
</div>