@import 'config';
@import 'utilities';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

// Setting the border-box style for making the total width and height exact
// Removing default padding and margin
* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

// Body
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

// Links
a {
    text-decoration: none;
    color:$primary-color;
}

ul{
    list-style: none;
}

// Image should take 100% of the background
img{
    width: 100%;
}

// Flex Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    top:0;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;
    
    ul {
        display: flex;
    }

    a{
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover{
            color: $primary-color;
        }
    }
}

.landing {
    position: relative;
    background: url('https://t3.ftcdn.net/jpg/02/41/43/18/240_F_241431868_8DFQpCcmpEPVG0UvopdztOAd4a6Rqsoo.jpg') no-repeat center center/cover;
    height: 100vh;

    &-inner {
        color:#fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media screen and (max-width:750px) {
            h1{
              font-size: 2em;
            }
          }
    }
}
.error {
    padding: 10px;
    width: 20rem;
    background-color: $danger-color; /* Red */
    color: white;
    margin-bottom: 10px;
  }
  
  .success {
    padding: 10px;
    width: 20rem;
    background-color: $success-color;
    color: white;
    margin-bottom: 10px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }